<%= provide(:title, @product.name) %>
<%= provide(:header_title, @product.name) %>
  <!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @product_images.each_with_index do |product_image, number| %>
                  <div class="item <%= 'active' if number.zero? %>" data-thumb="<%= number %>">
                    <%= image_tag product_image.attachment(:large), itemprop: 'image' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @product_images.each_with_index do |product_image, number| %>
                    <div data-target="#carousel" data-slide-to="<%= number %>" class="thumb" id="show-product-thumb">
                      <%= link_to(image_tag(product_image.attachment.url(:product), :alt => "product-thumb-img"), product_image.attachment.url(:product)) %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to taxon_link(@taxons) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= display_price(@product) %></h3>
            <p><%= product_description(@product) %></p>
            <% @product.variant_option_values_by_option_type.each_value do |values| %>
              <span class="quick-drop">
                <select name="guiest_id3" id="guiest_id3" class="select-drop">
                  <% values.each_with_index do |value, number| %>
                    <option value="<%= number %>"><%= value.presentation %></option>
                  <% end %>
                </select>
              </span>
            <% end %>
            <span class="quick-drop resizeWidth">
              <%= select_tag 'guiest_id4', options_for_select([1, 2, 3], 1), id: "guiest_id4", class: "select-drop" %>
            </span>
            <div class="btn-area">
              <%= link_to potepan_cart_page_path, class: "btn btn-primary btn-block" do %>
                カートへ入れる
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'taxon_products', taxon_products: @taxon_products %>
  </div>
</section>
