<%= provide(:title, @product.name) %>
<%= provide(:header_title, @product.name) %>
  <!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "shared/error_checkout_messages" if flash[:error].present? %>
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @product_images.each_with_index do |product_image, number| %>
                  <div class="item <%= 'active' if number.zero? %>" data-thumb="<%= number %>">
                    <%= image_tag product_image.attachment(:large), itemprop: 'image' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="clearfix">
              <div id="thumbcarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <% @product_images.each_with_index do |product_image, number| %>
                    <div data-target="#carousel" data-slide-to="<%= number %>" class="thumb" id="show-product-thumb">
                      <%= link_to(image_tag(product_image.attachment.url(:product), :alt => "product-thumb-img"), product_image.attachment.url(:product)) %>
                    </div>
                  <% end %>
                </div>
                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to taxon_or_home_link(@taxons) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= product_description(@product) %></p>
            <%= render 'cart_form', product: @product %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'taxon_products', taxons: @taxons, product: @product %>
  </div>
</section>
