<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div>
        <ul class="list-inline pull-right">
          <li class="dropdown searchBox">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <%= form_tag('/potepan/search', method: "get", id: "form01") do %>
                <li>
                  <span class="input-group topbar-search">
                    <%= text_field_tag(:search_word, '', { class: "form-control", placeholder: "Search…", aria: { describedby: "basic-addon2" } })%>
                    <%= submit_tag "検索", class: "input-group-addon addPointer", id: "basic-addon2" %>
                  </span>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="topbar-shoppting-cart"><i class="fa fa-shopping-cart"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li>Item(s) in your cart</li>
              <% if current_order %>
                <% current_order.line_items.each do |item| %>
                  <li class="<%= "lineitem-#{item.id}" %>">
                    <%= link_to potepan_product_path(item.product) do %>
                      <div class="media">
                        <%= image_tag(item.variant.gallery.images.first.url(:mini), class: "media-left media-object", alt: 'cart-Image') if item.variant.gallery.images.first.try(:url, :mini) %>
                        <div class="media-body">
                          <h5 class="media-heading"><%= item.name %><br><span><%= item.quantity %> X <%= item.display_price %></span></h5>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
                <li>
                  <div class="btn-group" role="group" aria-label="...">
                    <%= button_tag "Shopping Cart", type: 'button', onclick: "link_to('#{potepan_cart_path}')", class: "btn btn-default" %>
                    <%= button_tag "Checkout", type: 'button', onclick: "link_to('#{potepan_checkout_state_path(current_order.state)}')", class: "btn btn-default" %>
                  </div>
                </li>
              <% else %>
                <li>カートに追加された商品はありません。</li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
